# Ignorar todo por defecto
*

# Incluir solo archivos y directorios específicos
!src/
!src/**

# Ignorar la carpeta dist
dist/

# Ignorar node_modules y otros directorios innecesarios
node_modules/
.git/
.vscode/
coverage/
tmp/
.gcloudignore
