# Ignorar todo por defecto
*

# Incluir solo el directorio dist/pcr y archivos importantes
!dist/
!dist/pcr/**
!dist/pcr/browser/**
!dist/pcr/server/**

# Ignorar node_modules y otros directorios innecesarios
node_modules/
.git/
.vscode/
coverage/
tmp/
.gcloudignore
