/* Estilos para la barra de navegación vertical */
.vertical-nav {
    width: 100%;
    background-color: #f4f4f4;
  }
  
  .vertical-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .vertical-nav ul li {
    display: block;
  }
  
  .vertical-nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .vertical-nav ul li a:hover {
    background-color: #ddd;
  }
  
  .vertical-nav ul li a.active {
    background-color: #007bff;
    color: white;
  }
  
  .vertical-nav ul li .logout-button {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #dc3545; /* Rojo para indicar la acción de cierre de sesión */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .vertical-nav ul li .logout-button:hover {
    background-color: #c82333; /* Color más oscuro al pasar el mouse */
  }